*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size: 18px;
}

.heading{
 padding:0.5em;
 font-size: 30px;
 background-color: rgb(88, 82, 82);
 color:rgb(182, 223, 243);

}

.App {
  text-align: center;
  color:rgb(102, 94, 94);
}
 li{
   list-style-type: none;
 }
 .timer{
   padding-bottom:1em;
   border-style: inset;
   text-align:center;
   padding-top:1em;
   margin-bottom: 1em;
   background-color:rgb(207, 224, 231);
   color: rgb(88, 82, 82);

 }
 input{
 padding:5px;
 
 }
 .main_page{
   width:100%vw;
   background-color: rgb(251, 255, 255);
 }
 .border-design{
   
   border-style: outset;
    padding:1em;
 }
 input[type=checkbox] {
  transform: scale(1.5);
}
 button{

    background: #6b9fc2;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: 2em;

 }

 #desc{
   margin-bottom: 1em;
 }
 input{
   margin:0 2em 0 2em;
 }
 .container{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .todo-container{
   width:100%;
 }

 .todo-box{
   margin-top:1em;
   background-color:rgb(194, 220, 235);
   width:50%;
 }

 .add-btn{
   margin-top:2em;
 }